:host {
    nz-layout.layout {
        width: 100%;
        height: 100%;

        nz-sider{
            padding: 5px 15px;

            div.list{
                margin-top: 20px;
                border-width: 1px;
                border-color: #eee;
                border-radius: 5px;
                border-style: solid;
                padding: 10px;
                overflow-y: auto;
                height: 100%;

                div.list-item{
                    height: 30px;
                    p{
                        display: inline-block;
                    }
                    i{
                        float: right;
                    }
                }
            }
        }
    }
    .logo {
        width: 120px;
        height: 31px;
        background: rgba(255,255,255,.2);
        margin: 16px 28px 16px 0;
        float: left;
    }

    webview {
        width:100%;
        height: 100%;
    }
}