<nz-layout class="layout">
    <nz-header>
        <button nz-button nzType="primary" nzGhost (click)="goBack()">返回</button>
    </nz-header>
    <nz-layout>
        <nz-modal [(nzVisible)]="showConfirmModal" nzTitle="自动答题" nzOkText="确认" nzCancelText="取消" (nzOnOk)="handleOk()"
            (nzOnCancel)="handleCancel()">
            <p>启动自动答题({{wait}}分钟)？</p>
        </nz-modal>
        <nz-sider [nzWidth]="360" style="background:#fff">
            <div>
                <nz-input-group style="margin-bottom:20px;" nzAddOnBefore="答题时间" nzAddOnAfter="分钟">
                    <input type="number" max="120" min="0" step="0.1" nz-input [(ngModel)]="wait">
                </nz-input-group>
                <nz-upload class="upload" [nzBeforeUpload]="beforeUpload">
                    <button nz-button nzType="primary" nzBlock>
                        <i nz-icon type="upload"></i><span>上传学生列表</span>
                    </button>
                </nz-upload>
            </div>

            <div class="list">
                <div class="list-item" *ngFor="let item of accounts">
                    <p>{{item.name}}：{{item.username}}</p>
                    <p *ngIf="item.message" style="color:crimson;margin-left: 10px;">({{item.message}})</p>
                    <i *ngIf="item.icon === 'sync'" nz-icon [type]="item.icon" [spin]="true" style="color: lightseagreen"></i>
                    <i *ngIf="item.icon === 'check'" nz-icon [type]="item.icon" style="color: chartreuse"></i>
                    <i *ngIf="item.icon === 'info'" nz-icon [type]="item.icon" style="color:crimson"></i>
                    <i *ngIf="item.icon === 'ellipsis'" nz-icon [type]="item.icon"></i>
                </div>
            </div>
        </nz-sider>
        <nz-layout style="padding:0 24px 24px">
            <webview attr.src="{{src}}" preload="assets/js/preload.js" nodeintegration></webview>
        </nz-layout>
    </nz-layout>
</nz-layout>