<div class="container">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control>
                <nz-input-group [nzPrefix]="prefixUser">
                    <input type="text" nz-input formControlName="userName" [(ngModel)]="username" placeholder="用户名">
                </nz-input-group>
                <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">请输入用户名</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <nz-input-group [nzPrefix]="prefixLock">
                    <input type="password" nz-input formControlName="password" [(ngModel)]="password" placeholder="密码">
                </nz-input-group>
                <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">请输入密码</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <nz-input-group [nzPrefix]="prefixKey">
                    <input type="text" nz-input formControlName="quizid" [(ngModel)]="quizid" placeholder="考核Id">
                </nz-input-group>
                <nz-form-explain *ngIf="validateForm.get('quizid').dirty && validateForm.get('quizid').errors">请输入考核Id</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <label nz-checkbox formControlName="remember" [(ngModel)]="remember">
                    <span style="color:white;">记住登录状态</span>
                </label>
                <a class="login-form-forgot" href="http://sso.ouchn.cn/Passport/ForgetPassword" target="_blank">忘记密码</a>
                <button nz-button [nzLoading]="isLoading" class="login-form-button" [nzType]="'primary'">登录</button>
            </nz-form-control>
        </nz-form-item>
    </form>
    <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
    <ng-template #prefixKey><i nz-icon type="key"></i></ng-template>
</div>